/**
 * Main menu icons.
 */
.navbar-icon-ofis-research-expert-search-settings:before {
  background-image: url("icons/equalizer.svg");
}
.no-svg .navbar-icon-ofis-research-expert-search-settings:before {
  background-image: url("icons/equalizer.png");
}
.navbar-icon-ofis-research-expert-search-settings:active:before,
.navbar-icon-ofis-research-expert-search-settings.navbar-active:before {
  background-image: url("icons/equalizer.svg");
}
.no-svg .navbar-icon-ofis-research-expert-search-settings:active:before,
.no-svg .navbar-icon-ofis-research-expert-search-settings.navbar-active:before {
  background-image: url("icons/equalizer.png");
}
